:root {
  --body-text: #434455;
  --subtletext: #8e8f99;
  --primary-brand: #4d5ae5;
  --ocean: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --accent-color: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --modal-background: #fcfcfc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white);
  color: var(--body-text);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-brand);
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  font-weight: 500;
  color: var(--dark);
  padding: 24px 0;
  transition: color var(--transition);
}

.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}
.current {
  position: relative;
  color: var(--ocean);
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--ocean);
  border-radius: 2px;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  color: var(--body-text);
  padding: 24px 0;
  transition: color var(--transition);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.hero {
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 188px 0;
  max-width: 1440px;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto;
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  color: var(--white);
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}
.benefits {
  padding: 120px 0;
}
.benefits-list {
  list-style: none;
  display: flex;
  gap: 24px;
}
.benefits-item {
  width: calc((100%-24px) / 4);
}
.benefits-logo {
  background-color: var(--light);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark);
  margin-bottom: 8px;
}
.works {
  padding-bottom: 120px;
}
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.works-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.works-item {
  flex-basis: calc((100%-2 * 24) / 3);
}
.works-item:last-child {
  margin-right: 0;
}
.team {
  background-color: var(--light);
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-item {
  width: calc((100%-3 * 24px) / 4);
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-text-contanier {
  padding: 32px 0;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-align: center;
  margin-bottom: 8px;
}
.team-item-text {
  text-align: center;
}
.team-soc {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
  color: var(--light);
}
.team-soc-icon {
  fill: currentColor;
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--ocean);
}

/* CUSTOMERS */
.customers {
  padding: 120px 0;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtletext);
  transition: color var(--transition), border-color var(--transition);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:hover,
.customers-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--ocean);
}

/* PORTFOLIO */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  margin-right: auto;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-btn {
  font-family: inherit;
  background-color: var(--light);
  color: var(--primary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color var(--transition), color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-list {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.projects-item {
  width: calc((100%-48px) / 3);
}
.projects-link {
  display: block;
  transition: box-shadow var(--transition);
}
.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-cover {
  position: relative;
  overflow: hidden;
}
.project-cover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  background-color: var(--primary-brand);
  color: var(--light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(100%);
  transition: transform var(--transition);
}

.projects-link:hover .project-cover-text,
.projects-link:focus .project-cover-text {
  transform: translateY(0);
}

.project-text {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.projects-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.project-title-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

/* FOOTER */
.footer {
  background-color: var(--dark);
  padding: 100px 0;
}
.footer-contanier {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  margin-right: 120px;
}
.footer-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
}
.footer-text {
  color: var(--light);
  max-width: 264px;
}
.footer-soc-media {
  margin-right: 80px;
}
.footer-soc-text {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-soc {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-soc-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
  color: var(--light);
}
.footer-soc-icon {
  fill: currentColor;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--success);
}

/* SUBSCRIBE FORM */

.footer-sub-text {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.sub-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.sub-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  height: 40px;
  width: 264px;
  padding-left: 16px;
}
.sub-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--white);
}
.sub-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  color: var(--white);
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  transition: background-color var(--transition), border var(--transition);
}
.sub-btn:hover,
.sub-btn:focus {
  background-color: var(--ocean);
}
.sub-btn-icon {
  margin-left: 16px;
  fill: var(--white);
}
/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: visibility var(--transition), opacity var(--transition);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color var(--transition), border var(--transition);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
  border: none;
}
.modal-btn-icon {
  transition: fill var(--transition);
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--white);
}

.modal-title {
  font-weight: 500;
  text-align: center;
  color: var(--dark);
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.input-wrap {
  position: relative;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtletext);
  margin-bottom: 4px;
  display: block;
}
.modal-input {
  height: 40px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding-left: 38px;
  padding-right: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition);
}
.modal-input:focus {
  border-color: var(--primary-brand);
}
.modal-input-icon {
  fill: var(--dark);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--primary-brand);
}

.modal-field-textarea {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color var(--transition);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: var(--primary-brand);
}

.modal-field-check {
  margin-bottom: 24px;
}
.check-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
}

.input-check:checked + .check-text span {
  background-color: var(--ocean);
  border: none;
  fill: var(--light);
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtletext);
}
.check-link {
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  text-decoration-line: underline;
}

.modal-btn-send {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  transition: background-color var(--transition);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: var(--ocean);
  border: none;
}
